.scrollableContainer {
    max-height: calc(90vh - 100px); 
    overflow-y: auto;
    overflow-x: hidden; 
    width: 75%;
}

.scrollableContainer::-webkit-scrollbar {
    width: 8px; 
}
.scrollableContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}
.scrollableContainer::-webkit-scrollbar-thumb {
    background-color: #E3E3E3; 
    border-radius: 9999px;
}

.scrollableContainer::-webkit-scrollbar-track:hover {
    background-color: #f1f1f1; 
}
